.DS_Store
.idea/

# Compiler files
cache/
contracts/cache/
contracts/out/
contracts/data/

# Ignores development broadcast logs
contracts/broadcast/**

# Dotenv file
contracts/.env

# ide
.idea

programs/**/target
programs/**/elf
/target/
/debug/

**/tmp-data-dir/