.DS_Store
.idea/

# Compiler files
cache/
contracts/cache/
contracts/out/
contracts/data/

# Ignores development broadcast logs
contracts/broadcast/**

# Dotenv file
contracts/.env

# ide
.idea

programs/**/methods/Cargo.lock
programs/**/target/
/target/
/debug/